<!doctype html>
<html>
<head>
    <title>Pet search</title>
    <link href="css/main.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
</head>

<body ng-app="app">
<div class="container">
    <div class="search-form">
        <h1>Pet search</h1>
        <p>Search for pets for adoption in California</p>
        <div ng-controller="home" ng-cloak >
        <input type="text" ng-model="query" />
        <div class="search-results">
            <div ng-repeat="result in results">
                <a ng-href="{{result.url}}">{{result.name}}</a>
                <br/>
                {{result.animal}} {{result.breed}} {{result.age}} {{result.sex}}
                <br/>
                {{result.description}}
            </div>
        </div>

    </div>
</div>
<script src="js/angular-bootstrap.js" type="text/javascript"></script>
<script src="js/app.js"></script>
</body>
</html>