html {
    background-color: rgb(64, 127, 127);
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(0, 51, 51);
}
body {
    margin: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: rgb(102, 153, 153);
    height: 100vh;

}
.search-form {
    width: 80%;
    margin: 0 auto;
    padding: 10px 0 0 0;
}

.search-form input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-size: 25px;
    padding: 5px;
}

.search-results div{
    padding: 20px 0;
}

.search-results a {
    text-decoration: none;
    color:black;
}
.search-results a:hover {
    text-decoration: none;
    color:black;
}
.search-results a:visited {
    text-decoration: none;
    color:black;
}